<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<div>
  <h2>{{ object.title }}</h2>
  <center>{{ object.description }}</center>
    <br><br><br><br>
    <h2><a href="/{{ object.pk }}/update">Update</a></h2>
    <h2><a href="/{{ object.pk }}/delete">Delete</a></h2>
</div>
<form action="comment/" method="POST">
            {% csrf_token %}
            <label>
                Comment:
                <input name="text" type="text">
            </label>

            <input name="text" value="Оставьте свой коментарий" type="submit">
</form>
    {% for i in comments %}
        <li>
            <h3>{{ i.text }}</h3>
            <span>{{ i.created_date }}</span>
        </li>
    {% endfor %}
    </ul>
</body>
</html>